body {
  background-color: lightgrey;
}

h2 {
  padding: 5px 20px;
  color: rgb(224, 116, 27);
}

h3{
  font-style: italic;
  color: maroon;
  text-decoration: overline;
  padding: 5px 25px;
}

p {
 padding: 5px 30px;
}

a {
  color: white;
}

.title {
  padding: 30px 80px;
  color:navy;
}

.navigation{
  padding: 10px 80px;
  background-color: black;
}